@page "/orders"

@rendermode InteractiveServer

@inject IRepository<OrderRecord, int> orderRepository;
@using MedicalCrmLib.Interfaces
@using OrderRecord = MedicalCrmLib.Model.Order

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h4>Заказы</h4>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary" Clicked="ShowAddOrderModal">
                    Добавить заказ
                </Button>
                <Button Color="Color.Danger" Disabled="@(_selectedOrders.Count == 0)"
                        Clicked="ConfirmDeleteSelectedOrders">
                    Удалить выбранное
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem=OrderRecord
                  Data="@orders"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  @bind-SelectedRows="_selectedOrders"
                  ShowPager="true"
                  PageSize="@GridPageSize"
                  Responsive Striped>
            <DataGridColumns>
                <DataGridMultiSelectColumn TItem=OrderRecord Width="30px" />

                <DataGridColumn TItem=OrderRecord
                                Field="@nameof(OrderRecord.OrderId)"
                                Caption="ID заказа" />

                <DataGridColumn TItem=OrderRecord
                                Field="@nameof(OrderRecord.OrderDate)"
                                Caption="Дата заказа" />

                <DataGridColumn TItem=OrderRecord
                                Field="@nameof(OrderRecord.OrderAmount)"
                                Caption="Сумма заказа" />

                <DataGridColumn TItem=OrderRecord
                                Field="@nameof(OrderRecord.ServiceCount)"
                                Caption="Количество услуг" />

                <DataGridColumn TItem=OrderRecord
                                Field="@nameof(OrderRecord.EmployeeId)"
                                Caption="ID сотрудника" />

                <DataGridColumn TItem=OrderRecord
                                Field="@nameof(OrderRecord.ClientId)"
                                Caption="ID клиента" />

                <DataGridCommandColumn TItem=OrderRecord Width="150px">
                    <DisplayTemplate>
                        <Button Color="Color.Danger" Clicked="@(() => DeleteOrder(context.OrderId))">
                            Удалить
                        </Button>
                    </DisplayTemplate>
                </DataGridCommandColumn>
            </DataGridColumns>

            <LoadingTemplate>
                <p>Загрузка...</p>
            </LoadingTemplate>

            <EmptyTemplate>
                <p>Нет записей.</p>
            </EmptyTemplate>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="addOrderModal" Size="ModalSize.Small" ShowCloseIcon="true" Style="background-color: white;">
    <ModalHeader>
        <h5>Добавить заказ</h5>
    </ModalHeader>
    <ModalBody>
        <div class="mb-3">
            <label for="orderDate">Дата заказа:</label>
            <input type="date" id="orderDate" @bind="newOrderRecord.OrderDate" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="orderAmount">Сумма заказа:</label>
            <input type="number" id="orderAmount" @bind="newOrderRecord.OrderAmount" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="serviceCount">Количество услуг:</label>
            <input type="number" id="serviceCount" @bind="newOrderRecord.ServiceCount" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="employeeId">ID сотрудника:</label>
            <input type="number" id="employeeId" @bind="newOrderRecord.EmployeeId" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="clientId">ID клиента:</label>
            <input type="number" id="clientId" @bind="newOrderRecord.ClientId" class="form-control" />
        </div>
    </ModalBody>
    <ModalFooter>
        <Button Color="Color.Primary" Clicked="AddNewOrder">
            Добавить
        </Button>
        <Button Color="Color.Secondary" Clicked="CancelClicked">
            Отмена
        </Button>
    </ModalFooter>
</Modal>

@code {
    private List<OrderRecord> orders = new();
    private OrderRecord newOrderRecord = new();
    private List<OrderRecord> _selectedOrders = new();
    private Modal? addOrderModal = null!;
    private int GridPageSize = 5;

    protected override async Task OnInitializedAsync()
    {
        orders = await orderRepository.GetAsList();
    }

    private async Task ShowAddOrderModal()
    {
        newOrderRecord = new OrderRecord();
        await addOrderModal!.Show();
    }

    private async Task AddNewOrder()
    {
        await orderRepository.Add(newOrderRecord);
        orders = await orderRepository.GetAsList();
        await addOrderModal.Hide();
    }

    private async Task DeleteOrder(int orderId)
    {
        await orderRepository.Delete(orderId);
        orders = await orderRepository.GetAsList();
    }

    private async Task ConfirmDeleteSelectedOrders()
    {
        foreach (var order in _selectedOrders.ToList())
        {
            await orderRepository.Delete(order.OrderId);
        }
        _selectedOrders.Clear();
        orders = await orderRepository.GetAsList();
    }

    private async Task CancelClicked()
    {
        await addOrderModal.Hide();
    }
}
