@page "/service-list"
@rendermode InteractiveServer

@inject IRepository<ServiceList, int> serviceListRepository;

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h4>Перечень оказываемых услуг</h4>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary" Clicked="ShowAddServiceModal">
                    Добавить услугу
                </Button>
                <Button Color="Color.Danger" Disabled="@(_selectedServices.Count == 0)"
                        Clicked="ConfirmDeleteSelectedServices">
                    Удалить выбранные
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="ServiceList"
                  Data="@services"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  @bind-SelectedRows="_selectedServices"
                  ShowPager="true"
                  PageSize="@GridPageSize"
                  Responsive Striped>
            <DataGridColumns>
                <DataGridMultiSelectColumn TItem="ServiceList" Width="30px" />

                <DataGridColumn TItem="ServiceList"
                                Field="@nameof(ServiceList.ServiceListId)"
                                Caption="ID услуги" />

                <DataGridColumn TItem="ServiceList"
                                Field="@nameof(ServiceList.ServicePrice)"
                                Caption="Цена услуги" />

                <DataGridColumn TItem="ServiceList"
                                Field="@nameof(ServiceList.LaboratoryName)"
                                Caption="Название лаборатории" />

                <DataGridColumn TItem="ServiceList"
                                Field="@nameof(ServiceList.ServiceName)"
                                Caption="Название услуги" />

                <DataGridCommandColumn TItem="ServiceList" Width="150px">
                    <DisplayTemplate>
                        <Button Color="Color.Danger" Clicked="@(() => DeleteService(context.ServiceListId))">
                            Удалить
                        </Button>
                    </DisplayTemplate>
                </DataGridCommandColumn>
            </DataGridColumns>

            <LoadingTemplate>
                <p>Загрузка...</p>
            </LoadingTemplate>

            <EmptyTemplate>
                <p>Нет записей.</p>
            </EmptyTemplate>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="addServiceModal" Size="ModalSize.Small" ShowCloseIcon="true" Style="background-color: white;">
    <ModalHeader>
        <h5>Добавить услугу</h5>
    </ModalHeader>
    <ModalBody>
        <div class="mb-3">
            <label for="serviceName">Название услуги:</label>
            <input type="text" id="serviceName" @bind="newService.ServiceName" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="servicePrice">Цена услуги:</label>
            <input type="number" id="servicePrice" @bind="newService.ServicePrice" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="laboratoryName">Название лаборатории:</label>
            <input type="text" id="laboratoryName" @bind="newService.LaboratoryName" class="form-control" />
        </div>
    </ModalBody>
    <ModalFooter>
        <Button Color="Color.Primary" Clicked="AddNewService">
            Добавить
        </Button>
        <Button Color="Color.Secondary" Clicked="CancelClicked">
            Отмена
        </Button>
    </ModalFooter>
</Modal>

@code {
    private List<ServiceList> services = new();
    private ServiceList newService = new();
    private List<ServiceList> _selectedServices = new();
    private Modal? addServiceModal = null!;
    private int GridPageSize = 5;

    protected override async Task OnInitializedAsync()
    {
        services = await serviceListRepository.GetAsList();
    }

    private async Task ShowAddServiceModal()
    {
        newService = new ServiceList();
        await addServiceModal!.Show();
    }

    private async Task AddNewService()
    {
        await serviceListRepository.Add(newService);
        services = await serviceListRepository.GetAsList();
        await addServiceModal.Hide();
    }

    private async Task DeleteService(int serviceListId)
    {
        await serviceListRepository.Delete(serviceListId);
        services = await serviceListRepository.GetAsList();
    }

    private async Task ConfirmDeleteSelectedServices()
    {
        foreach (var service in _selectedServices.ToList())
        {
            await serviceListRepository.Delete(service.ServiceListId);
        }
        _selectedServices.Clear();
        services = await serviceListRepository.GetAsList();
    }

    private async Task CancelClicked()
    {
        await addServiceModal.Hide();
    }
}
